ID	Name	Hour(hour)	Machine	Seq
0	Petr Mazeev	14	IDSSA1	CGGATAGGAACTGTAACATGAGTCATGGTAGGTGTCCTATGGATAGCGCAATCCCGACCATGTCAGATGTGTCTCCAAAAACCGA
1	Petr Mazeev	12	IDSSA5	AGGCAAAGATGTTGTGTACAACCCAATCGAATCTCGCACGAACGTCGTAGAAATTCGAGAACAGACCTACGCTCTATAGAGGAATCGACAAAATATCATT
2	Anna Kesoretskih	13	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
3	Ruslan Itshokin	10	IDSSA5	ACGCGTCGTCTCAATAGGAGGTAGGAAGTCGGATAGGAAGGCGACAGATTCGGATAGTAAGGTGCAAACCAGTTATACAATCATCG
4	Vitaliy Haveshov	18	IDSSA5	GGGGACATACCGGTAAAGTACTTGATTATAAAGGCCGACTT
5	Vitaliy Haveshov	14	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
6	Petr Mazeev	18	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
7	Taras Fadin	14	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
8	Anna Kesoretskih	17	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
