ID	Name	Hour(hour)	Machine	Seq
0	Roman Hanzhenkov	13	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1	Vitaliy Haveshov	14	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
2	Svetlana Gismeeva	14	IDSSA4	TAGGACGAAATCTACCGAGTCCTAGCGAACGAAATCGTCACAATAGATCCGGAGTACAACCACCGGGGGACGT
3	Anna Protonina	10	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
4	Petr Mazeev	18	IDSSA1	GTATCCAGATTTAGTGGAGAATTGATAACGGTACGGTCAGCCCCCCAGCCTCTGAACG
5	Anna Protonina	15	IDSSA4	CCGGAGAACGTAGGGCTG
6	Vitaliy Haveshov	10	IDSSA1	CGGATCGGGTAATCCCCTTGATATCTTTATTGCCGAGGGGCCAGGTTC
7	Ruslan Itshokin	18	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
8	Nataliya Chemaeva	14	IDSSA4	GTGACTACCACATACCTGGTT
9	Aleksey Karmushin	15	IDSSA3	TATTACGTTGACAAAAGACTTTCACTCGT
10	Ruslan Itshokin	16	IDSSA4	GCGGTATGCGTCCTCTGACTCTGGAGGTAGTTGACTACCATACCACAAGC
11	Pavel Kulahmetov	13	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
12	Sofya Borchankina	17	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
13	Vitaliy Haveshov	14	IDSSA4	TCGTCTGTGGGTTGTTACAGTCGAAGAGAATAGTAATTC
14	Sofya Borchankina	15	IDSSA2	CTTGGCTCTCACGATTTTAATCGGCTGGA
15	Anna Kesoretskih	14	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
16	Kristina Gutkovskaya	14	IDSSA5	AAGCAGGAGCAGAG
17	Pavel Kulahmetov	15	IDSSA1	GCAGCAATCCATGAGCCC
18	Petr Mazeev	12	IDSSA1	GGGGGGGGGGGGGGGGGG
19	Nataliya Chemaeva	17	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
20	Ruslan Itshokin	18	IDSSA4	GTCATGCCGGGCAAGATTCTACGCACTTTTCACAGTGCTGCGGCTTTTGCGCAGTGAAATTAGTCAACTCACTTCTTC
21	Taras Fadin	14	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
22	Petr Yaklichev	12	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
23	Petr Yaklichev	16	IDSSA4	AAGCCGTTTATGAATTTACGTTGGGCTAGACTCATGAAGCTTTCAACAC
24	Ruslan Itshokin	17	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
25	Vitaliy Haveshov	18	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
26	Petr Yaklichev	17	IDSSA2	GACTAATGACATGTCGAAGTCGGTAGTCTCCG
27	Petr Mazeev	11	IDSSA4	TCTCAGTGGTGGAGCTATTTCCGGGTAGGACGGTATAGCTACCAAATAGAT
28	Pavel Kulahmetov	11	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
29	Sofya Borchankina	18	IDSSA1	TTTTTTTTTTT
30	Taras Fadin	16	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
