ID	Name	Hour(hour)	Machine	Seq
0	Pavel Kulahmetov	17	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1	Kristina Gutkovskaya	11	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
2	Petr Yaklichev	18	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
3	Pavel Kulahmetov	11	IDSSA5	ACCCTTTGTAACGCAACCGCAAACCTGCTCTCGTAACTGGGGAGCGAGGTTTCAGACTCGCCCCCTT
4	Konstantin Gugunin	13	IDSSA4	GCCCTTCAATGCATTCAAGGGGT
5	Konstantin Gugunin	17	IDSSA4	CCCCCCCCCCCCC
6	Ruslan Itshokin	10	IDSSA3	AGACGGGATAGGCGGCATCTGTA
7	Anna Protonina	10	IDSSA2	CGTCACTTAAACGAGCAGGGCAACTACCGAAACGTGTGAAGGCCAAGGTTG
8	Aleksey Karmushin	12	IDSSA2	GTTTAGGCCCATACCTCCGACAGG
9	Aleksey Karmushin	14	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
10	Kristina Gutkovskaya	12	IDSSA4	CCCCCCCCCCCCCCCCC
11	Anna Protonina	15	IDSSA5	CTGTCCGAATAGCTAGCTGTTCGAGTTTATCGGAGAGTGGGTTAGGTAAGAAATTGGAAACGGCTTCACGCATAATC
12	Kristina Gutkovskaya	12	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
13	Petr Mazeev	17	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
14	Sofya Borchankina	11	IDSSA3	GGGGGGGGGGGGGGGGG
15	Pavel Kulahmetov	11	IDSSA4	AGGTTCGTAACACATGCCAGGAAGATTA
16	Sofya Borchankina	13	IDSSA1	TTAATACCACCTAGACTTAAGGCTCGGAAAGATCCCTCTTGGATTCC
17	Anna Kesoretskih	10	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
18	Anna Kesoretskih	12	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTT
19	Anna Protonina	16	IDSSA1	ATCTAGTGATTATGTGACCCGGAGGAGAGTATTTAACTTCGGAGGCCTGAT
20	Kristina Gutkovskaya	15	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
21	Petr Yaklichev	16	IDSSA3	TGTGTTCAAGCCATCTGTCAAAGTTCATAGCTTCCGGGGGAGCAGCA
22	Vitaliy Haveshov	17	IDSSA4	CCAAGAAGGTGGTATCGTTAGTGCGGCATTTCACGACAACTTCTCGGGAAACACGTTACCCGACATGG
23	Anna Kesoretskih	17	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
24	Pavel Kulahmetov	14	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
25	Pavel Kulahmetov	13	IDSSA2	GACGCGACTTGTACACACCGGGGCTCACAGAGACTTATTCAAATACATTGTCGTAGGTCAACTCTCATGTGGTATTTAGCCCTCTTCACG
26	Petr Mazeev	11	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
27	Svetlana Gismeeva	11	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
28	Anna Kesoretskih	12	IDSSA5	CAGTCCTCAAAGGGATTGTAGCAGGCTCGCATAAGTCCGGCCTGTACCCGTGAACGGTGTTACCTCCACAAGGGT
