ID	Name	Hour(hour)	Machine	Seq
0	Nataliya Chemaeva	14	IDSSA1	CACACAACGAATTTACTCCAATGAGCCCTATTAATCATAATGACACAGTGTATGTTCTGCAGTCCCATTT
1	Svetlana Gismeeva	17	IDSSA3	GCTGACCTTCGGCC
2	Aleksey Karmushin	14	IDSSA2	GTTTCATCTCTGAGAAAAGCGTTGCAACGAAGTCATTCGCTGGCTTCCAGAACACT
3	Kristina Gutkovskaya	10	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
4	Roman Hanzhenkov	14	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCC
5	Anna Protonina	14	IDSSA1	CTAGCTCAACGTTACGCCATGCAGTTTTACACTGGGCGCAGTTATCGATTGTTGTAATGCGCGCG
6	Taras Fadin	16	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
7	Petr Mazeev	15	IDSSA2	GGGACGTTCGAAAGAACACTTTGCAAACATTGTGCAGGGTAAGGTAATTGCACTCAGTGCTACTTTTAGG
8	Taras Fadin	17	IDSSA2	AAGTATTTGGATTACTACCGCCCGCCCCGTGGTCAATGCGTTAATGTTAACGCCTTTTGAC
9	Sofya Borchankina	14	IDSSA3	GGCCACGTGAAATATGAGCTATTGATTCCGTCTCGGTGCTTTGGCCAAAGGTTAGG
10	Taras Fadin	10	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
11	Vitaliy Haveshov	12	IDSSA5	CTGGAAAATAACGGATACATGCAATGCAATTAGGTCTCGTGCGAGATCTTAGGGAAGCTGTGCGAGCCTGAAAAG
12	Svetlana Gismeeva	17	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
13	Sofya Borchankina	15	IDSSA5	TCCATGTTTACACAGCCAAACTCGTCATGTCCACCTCCC
14	Taras Fadin	18	IDSSA5	TCAACACTCACATAATCGGCGGGCATATATAGATGT
15	Roman Hanzhenkov	10	IDSSA2	AGAGAATGGCC
16	Aleksey Karmushin	15	IDSSA4	ACAGACAGATTATCGAGAACTATATAGGGTCCCGAGCGCAGTGT
17	Ruslan Itshokin	13	IDSSA5	AAAAAAAAAA
18	Nataliya Chemaeva	13	IDSSA4	GACTCTACGGAGCCCCGCCTTGACGTCGCCAGCTTCTG
19	Taras Fadin	13	IDSSA5	TTTTTTTTTTTTTTTTTTTT
20	Roman Hanzhenkov	18	IDSSA2	GGAGAGGCGACCGCGAAGCTTCTACG
21	Kristina Gutkovskaya	10	IDSSA1	GGTCCTGCGGGCCATCTGTACGAGC
22	Petr Mazeev	11	IDSSA1	CCGGTCTATACCCCTAATACTCTTAGGTATACGAATT
23	Petr Mazeev	18	IDSSA4	TGGTGCCTTAAAGGGTAACCT
24	Petr Yaklichev	16	IDSSA2	TTTTTTTTTTTTTTTTTTT
25	Vitaliy Haveshov	18	IDSSA1	ACTCCTCCGATGTTGTTTCGTGACTTCGATCTAAATTCTTGGTACGAATCATGTGTGGCTCAATTAGATTCCCAAACATCGTCATGATTC
26	Petr Yaklichev	17	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
27	Aleksey Karmushin	10	IDSSA1	GGGCAGCCTGTCTATAGAGTGG
28	Anna Protonina	18	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
29	Roman Hanzhenkov	10	IDSSA3	TTTTTTTTTTTTTTTT
30	Pavel Kulahmetov	17	IDSSA3	TGCGGACTGTTATCATGAACTTCTATAGAGTCTGGTATGCGACATCT
31	Konstantin Gugunin	12	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
32	Svetlana Gismeeva	14	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
33	Vitaliy Haveshov	13	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
34	Roman Hanzhenkov	15	IDSSA2	TGAGACCCTTGTCCTACCTATGTGACTG
35	Anna Protonina	18	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
36	Taras Fadin	12	IDSSA3	TAGAGGGACTCCCCCCTGTAGGGGATACCGCTTGAGGTCAGATAACAGTGTGACCTGGCAAGCTTTAATATCTGCCGTGCGCATCCGTAAAGTG
37	Taras Fadin	16	IDSSA3	ACCACAGGAAGTAGCTTCAGAAGAATAGTACTTCGGCCACGTCATGGCAGGGACTTATGCGGAGAAGGCGTTTT
38	Konstantin Gugunin	16	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
39	Roman Hanzhenkov	15	IDSSA4	ATTCTCGAGACTCCTTTCCGAGTGAGCCTCTACCAGATAGGGGAGGGCTCTCGCA
40	Sofya Borchankina	18	IDSSA1	TACTTCACTCCACGACTC
41	Roman Hanzhenkov	13	IDSSA2	CGAAGGGGCGAGCCTAGTAAGGCCTATTAATAGACGCGACGGTCACTTCAGATGGGCATGACCTGGGCAGTTGGCAGTTGTCCTCACTGGTATAAG
42	Roman Hanzhenkov	13	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
43	Petr Mazeev	18	IDSSA3	TTTCATTCATGAGGACTGAGCCGGACAGTCCTAAGTTTTCTCTTTTCGCAGGGGCT
44	Petr Mazeev	12	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
45	Sofya Borchankina	14	IDSSA3	AGCACCAGATCTGCGGTCTTGGTAAGGTGCGTTAC
46	Petr Mazeev	16	IDSSA3	ATCGTCCCATGAACTTTATGCGCCTCGTCTCATGACTTACACTATGCTTTCGGTGTGCAGAAGGGCTCTGACAACTCATACGCTCTTATAGGGCTGCC
47	Anna Kesoretskih	14	IDSSA5	CGCATCGTGAATCTCTTTCG
48	Petr Mazeev	18	IDSSA2	ATCTGTTACAATTCCTGCGCTTTTAGGAAGGAG
49	Roman Hanzhenkov	12	IDSSA2	GGACTAATCAGGAAGGATTAATAGCTCGCTGGCTTCCTGACGTGTGAGTGGACTTGTTCGTT
50	Svetlana Gismeeva	16	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
51	Vitaliy Haveshov	15	IDSSA2	GAGACTCGAGGGCCCAT
52	Pavel Kulahmetov	13	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
53	Anna Protonina	16	IDSSA1	CCCCCCCCCCCCCCCCCCCCC
54	Sofya Borchankina	17	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
55	Roman Hanzhenkov	12	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
56	Petr Mazeev	16	IDSSA2	GGAGCGCAAA
57	Svetlana Gismeeva	12	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
58	Nataliya Chemaeva	16	IDSSA1	AAAAAAAAAAAAAAAA
59	Petr Mazeev	10	IDSSA2	ATGCTGGTACCCCGTCCTATGGGGAGCACCGATTTCAAGCCTGGCCCTC
60	Kristina Gutkovskaya	17	IDSSA4	CCAGCCGTGAAGTGTTACTGCTGAAAACAAACTTTGTGACTACCTGCTGACCGCGGTCGGAGATTTGGGCCGAAATTCTCCGTAGCCCAGTGTCATA
61	Anna Protonina	10	IDSSA3	ACCCTCATCTGGCGGGCATAATCCTACAAGCCTAAGTGACGTTCAGCGAAA
62	Petr Mazeev	11	IDSSA5	AACTTGAAGATATCGACAATATACGTGGGCGGATTGGCGCCAGCGAGTCGTCTTAGAATGCCAACAACACC
63	Taras Fadin	12	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
64	Kristina Gutkovskaya	17	IDSSA3	CGACCGCGGGGCACCTACAGGCAAATATCTGAAGGATACAGGTAGATCCCCGA
65	Nataliya Chemaeva	14	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
