ID	Name	Hour(hour)	Machine	Seq
0	Ruslan Itshokin	12	IDSSA3	AACCTTTTCCTAGAAAGGGGCGAAGTCCGAACCAAAAGCTCACGTAGCCCTTACCGCGAAGGAGCTTAAAAGGCGACCATTGTCCT
1	Petr Mazeev	10	IDSSA1	ATCGCTGACGATTCCCCTCCCACGCGCAGCGGTCCCACTTTCAGCCGGATCGGCTGAAGACGTATTCAGGTTCTCC
2	Aleksey Karmushin	10	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
3	Anna Protonina	12	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
4	Petr Mazeev	11	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
5	Nataliya Chemaeva	10	IDSSA2	CGTCGGTAAGCCGACCTTTTGATATGGGATCTGGGTGGG
6	Nataliya Chemaeva	15	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
7	Aleksey Karmushin	14	IDSSA2	AAAAATCAATACGTATAT
8	Pavel Kulahmetov	13	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
9	Pavel Kulahmetov	12	IDSSA3	GAAAACTCATATTTACGTGTCTG
10	Petr Yaklichev	12	IDSSA4	ACGATTCCATACCCTTCGAGAACAGCATATTCATGTATAATCGACGATTA
11	Taras Fadin	16	IDSSA2	AGACATTCCTTCGATTCCAGTGCGGGGTGGAAGGACAAGGTTTGCGTTGAACCGGCGTCCAATTTCGCAAGAGAACAGACCCAGACCCTATTCTCA
12	Anna Protonina	15	IDSSA1	TTTATGTAGGTATCCACATCGTAACAAATTATTACCCGCCCGACCATAATTACAAGGACTTCTTACCTGCAGAAATTCCCTGTCGGCG
13	Petr Mazeev	10	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAA
14	Aleksey Karmushin	17	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
15	Nataliya Chemaeva	10	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
16	Roman Hanzhenkov	17	IDSSA1	ATTTTCCGAACCTAATGGGGAGGTTGTCTGGACTACGTCAACGGCGTTTAGCCATGCCTACCCGCTC
17	Svetlana Gismeeva	11	IDSSA4	TGGATGCAGGCGTCGAGCTGGCCCCCTAGCGCTTATGGAGGAATAATCCTTCCGGTTGACGCTGAGATTTCTTTATCTGAAATGGGGGGCTCG
18	Taras Fadin	15	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
19	Petr Mazeev	17	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
20	Taras Fadin	10	IDSSA3	ACTTGATATCACAAGCGGGGGCGTCCTAAGTAGTTGATAGAGTTCTTCTAAGGAACGATTAAGT
21	Svetlana Gismeeva	16	IDSSA4	GGGGGGGGGGGGGGGGGGGGG
22	Aleksey Karmushin	14	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
23	Aleksey Karmushin	11	IDSSA1	GCGCCACGCACGTTTATAGGGGTTTGGCAGTTCGGGCTCAACGAACCATTTTCGAACGC
24	Kristina Gutkovskaya	16	IDSSA5	TAGCCTTTACATTTTGTAAGTTGTGATACACACTCATGGGCCAACATAAAGGCATGACTTCGATCGTGCGAGTGCAGTGGGCTGTTGTATGAATCA
25	Vitaliy Haveshov	13	IDSSA3	GTCGAATCCGTGTCCTGCACCATGATGGAT
26	Konstantin Gugunin	11	IDSSA4	TATCGTCCTAACAAGAAGCG
27	Nataliya Chemaeva	10	IDSSA2	TTAGAAATTTAGAATAAGGGGGGGACGA
28	Sofya Borchankina	12	IDSSA4	GAATTGGAGTAAGTCGGCCAGGGGTTATGCCTCCCAAAGCGAAATATGG
29	Ruslan Itshokin	11	IDSSA4	CTCCCCTCCTTACAGGGCCAAGAGA
30	Aleksey Karmushin	14	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTT
31	Vitaliy Haveshov	14	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
32	Aleksey Karmushin	15	IDSSA5	CCCCCCCCCCCCCCC
33	Taras Fadin	13	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
34	Sofya Borchankina	15	IDSSA5	TGGCGGGACCGCGGGGCGGCAGCACACTCACC
35	Sofya Borchankina	14	IDSSA1	ACAGGGCTGGGGATACGTGTCCTTCTGATCTGAAAGACGCTCTTAGTA
36	Kristina Gutkovskaya	14	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
37	Konstantin Gugunin	14	IDSSA5	ACCGTCGACGACTGCAACTATAAAAACCCCCAAACCGACACTCGAGACAATAGAGTCCAGGTTCGTAAAGTGTAG
38	Roman Hanzhenkov	11	IDSSA4	GCGCTCAGCTTCATACACTGGGAGCCCGTGACTGAATAACAACTCGGGCCGTGCCCGCAGGACCTCAACC
39	Anna Protonina	15	IDSSA3	TTTCGTGTTACATTCCGTCGTCTAGTGCAAGCACCCGGAGAGGTCCACTATAACACCGTTTATGATTTTGGATCGAGTCAGTGGGGTGG
40	Nataliya Chemaeva	12	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
41	Roman Hanzhenkov	10	IDSSA1	TTCGTATTAAAAAT
42	Aleksey Karmushin	17	IDSSA3	AATTCAAACTCCTCCGGGCCGGAG
43	Anna Kesoretskih	14	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
44	Roman Hanzhenkov	14	IDSSA1	ATACGGCACATCTGATTTTACTAGCCAGTTCTAGGTGGACGA
45	Vitaliy Haveshov	13	IDSSA4	CCGTCAGAGAAGCGGAACCTACAATGCCGACATGCTCTTTCAATCGGTGAAGCTCCGCAATGCGGGTCTATTACTGTTAGACGGC
46	Pavel Kulahmetov	13	IDSSA3	GTATTCTATGTGAGC
47	Anna Protonina	17	IDSSA1	TTATCGACGGTGTCGCATCGCTTGTAGTTGGCGTTCGTGTCAATGTA
48	Ruslan Itshokin	13	IDSSA3	CTTGTGCCGA
49	Nataliya Chemaeva	11	IDSSA4	CGTCCCCCCGCAGCCGGGGAATTGACGAGGCGAATGAGCGTTAGCGCTATAGCGAGTGGCGATTAGGCAAACAGCCCTGGGTTAGGATTGTACCGCC
50	Petr Mazeev	12	IDSSA5	TTTTTTTTTTTTTTT
51	Svetlana Gismeeva	17	IDSSA3	GGACACACTCGATTAAGCGCATGATGG
52	Nataliya Chemaeva	17	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
53	Aleksey Karmushin	13	IDSSA4	TTTTTTTTTTTTTTTTTTTTT
54	Petr Mazeev	17	IDSSA5	TTTCCAGTACCTATACGGCAGGGCCGAGCTCGGCACGGTAGGTATGTATG
55	Pavel Kulahmetov	11	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
56	Petr Yaklichev	17	IDSSA4	TCAGGAGAAAGTGTACCCGCTCCTTAGCGTACGTCAAAAATCCGCTCTTGTTAATATT
57	Ruslan Itshokin	17	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGG
58	Anna Protonina	11	IDSSA4	TGTCGCAAAGGTTCAGGCAGGCCTCTAGGTATAAGTGATAATATGATTGCGGCCTGGACCACGAGGCAGGCGATGGATGATCTGTT
59	Pavel Kulahmetov	14	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
60	Nataliya Chemaeva	13	IDSSA1	GTTCGAGCTCACACGGTCCTCGCGATGGTGATGGTCGCTGGGATTGTGTCTCAGGCCACCCAATGCTAATTGC
61	Konstantin Gugunin	11	IDSSA3	TTTATAGCCGGAGGCCAACCCGCACGGTTATGGCCAACGCATAATCCAGA
62	Konstantin Gugunin	18	IDSSA1	GCAGCCCCCTTACACCTGGCATCAAAATTTCATTGAAACTAGACCATAAAACATTATCTAGAGCAATTACTTCCCAAGACCATGCT
63	Petr Yaklichev	10	IDSSA5	TTTTTTTTTTTTTTTTTTT
64	Kristina Gutkovskaya	12	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
65	Petr Yaklichev	11	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTT
66	Pavel Kulahmetov	18	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
67	Anna Protonina	18	IDSSA1	CAGTCCAAATTTGCGATGCCGATCGTGAGTATCACCTATGACCGGATCCAAGCCACTGAACGG
68	Petr Mazeev	10	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
69	Anna Protonina	15	IDSSA3	AGGAAGGTAAAATGACAGTCTAACAGCAAGCGAGTCCTCGTCTTCAATCGAATTAACTA
70	Roman Hanzhenkov	14	IDSSA5	TGTAATAGAACTCTCGAGTCTGTTTATAACTCGCAACGTG
71	Anna Protonina	11	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
72	Konstantin Gugunin	15	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
73	Vitaliy Haveshov	17	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
74	Anna Protonina	18	IDSSA3	GAATACCATGCACGAAGAACCAATGGCTT
75	Svetlana Gismeeva	18	IDSSA4	TGATTTTCCTCCGGCT
76	Nataliya Chemaeva	10	IDSSA2	TCCTCATGCTTTGCCGATTAGTCCATAGATGACTCGCACCGGGCTAATCATCCCCATTCGTGGCGCTTGCGTGTCAAACTTTTC
