ID	Name	Hour(hour)	Machine	Seq
0	Roman Hanzhenkov	11	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCC
1	Sofya Borchankina	13	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
2	Petr Yaklichev	13	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
3	Pavel Kulahmetov	18	IDSSA2	TTTTTTTTTTTTTTTTT
4	Roman Hanzhenkov	17	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAA
5	Aleksey Karmushin	11	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
6	Svetlana Gismeeva	14	IDSSA4	AAAAAAAAAAAAAAAAAA
7	Kristina Gutkovskaya	11	IDSSA4	CAGAGTTACAGCTCTCATGGTGTAAGGTAGCAGTCGAAGCGAAGTCAGGCCCGTGAGCTCGCTACAGTCTA
8	Vitaliy Haveshov	17	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
9	Taras Fadin	16	IDSSA5	TTGATGCTTGAGTACACTCCGTGATAACTACGCGAGCTGGTCCTATGCCAGT
10	Anna Kesoretskih	13	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
11	Aleksey Karmushin	17	IDSSA1	CCTGCGATGGCACAGATGGACGCCATTGAAGTTCCACTAGTCGCAGCTAGCGACCAAGGTGGTATGGCCCCTTGTTACC
12	Pavel Kulahmetov	12	IDSSA2	TGGGATCCGTACTTTTTGGCCCCGGAGCCGGGTTAACAATAAGAGAATGCCTTCCGGGCT
13	Konstantin Gugunin	17	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
14	Roman Hanzhenkov	18	IDSSA5	ACAAGCCAATCGCCATTGGGACAAG
15	Vitaliy Haveshov	15	IDSSA2	GTGTTGCACGTTCGAGGAAGTGTCGGCGCGACCCCTCGGTATCAGACGAGGAAGCGCTATTCACA
16	Roman Hanzhenkov	12	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
17	Kristina Gutkovskaya	10	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
18	Vitaliy Haveshov	18	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
19	Roman Hanzhenkov	16	IDSSA2	GTCGGCTGATGTAACCCAGGTCGGGTACTTTTATTTTTGGT
20	Ruslan Itshokin	17	IDSSA3	CGCATGGGGCTTGAGGATTTAAAGGATGTATTTC
21	Ruslan Itshokin	14	IDSSA4	TAAGAACCGACTGGCTCAGATGAGTGGACTGCACCTCAGATTCCTGGGAGGACAACCATAGTAGGGTCCCGACTGTGAACTT
22	Aleksey Karmushin	10	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTT
23	Roman Hanzhenkov	18	IDSSA2	TTTACAGATGTCGATCGAGATGCGGGAAAAGAATTCGCCGACTTTGAGATTGATCTGGTCGCACCTCACCATCACTGGTCGGGAGTGACTTGTC
24	Ruslan Itshokin	16	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
25	Svetlana Gismeeva	18	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
26	Petr Yaklichev	16	IDSSA5	CTTTGTGTAATCAGCGATAATTAGGTCCAATCCGCATTCTGTTACCGTTGGCAGCGATCTCTCCTCTTCGTAT
27	Petr Mazeev	14	IDSSA5	TTTCCTAATACGTTTGTATGAGGCTCGCAGTGT
28	Vitaliy Haveshov	10	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTT
29	Anna Protonina	18	IDSSA1	GCGGTACAATTGCCAGCGAAGGTTTATCTT
30	Petr Mazeev	12	IDSSA1	TTTCTTCCTTCCGAAAGGTG
31	Ruslan Itshokin	14	IDSSA1	CAAGACATCACTTGTTAAC
32	Nataliya Chemaeva	18	IDSSA3	TATCCGGTTTATCCGTTGGTTAAGCGTGTTGAGTGTGTCTGGGCATAGGCATTCCGAGCACTGAAGACGTACAGCGCGTGTGCTTTACTGTCTCTA
33	Petr Mazeev	18	IDSSA3	TTGCGAAACTTTGAAGGGGGTGGATGGATTCGACACTAGTTCCTCTAAGGGAGTAAGCGTCTACAACCG
34	Petr Mazeev	16	IDSSA4	TATTCCTCCTATTTACGGGTGACTGTGCTCCGTCGGCATGCAGGGGGATCCCGCGG
35	Pavel Kulahmetov	16	IDSSA2	TTTTTTTTTTTTTT
36	Anna Protonina	13	IDSSA1	GTGAGTTTGAGTCGAACCTCCTGACTAGC
37	Kristina Gutkovskaya	17	IDSSA3	GGGGGGGGGGGGGG
38	Anna Protonina	18	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
39	Svetlana Gismeeva	12	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
40	Konstantin Gugunin	13	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
41	Svetlana Gismeeva	14	IDSSA1	GTCAGCCTTCCGGAGCACCATCGTTGGGTGGTGTACCCCATACGATTTAGGAGTATGACGGCCGTATCGCA
42	Sofya Borchankina	18	IDSSA1	GGTCTGATGATGATCTGGCC
43	Konstantin Gugunin	18	IDSSA4	TGAGGGTCTCCCCCGAGCTGAGTGTATGGATTCAGGCGAGGCCTTGTATCGAGTTCCAGTA
44	Svetlana Gismeeva	12	IDSSA2	CACTATTTACACTTGCGTCACGCATCCAAGTGACGGGTTTTTTTTA
45	Roman Hanzhenkov	10	IDSSA2	GAGGTACGTGTAATTTCCATCCTCAAGGTCGGTAGTAACGACCCCGACAGTCTTGTGCTCGTCTTCCAGGGTACGACACT
46	Vitaliy Haveshov	15	IDSSA3	CATGCTTAAGCTGCCGACTAAAATATTACCAGAGTGCTCTTAGCCATCTGCAGGCAAAGAAGACACAACGGGGGGACTTGCCACCCTACG
47	Kristina Gutkovskaya	17	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTT
48	Vitaliy Haveshov	10	IDSSA1	CCCCCCCCCCCCCCCCCCCCCC
49	Vitaliy Haveshov	12	IDSSA5	AATTGACACT
50	Svetlana Gismeeva	15	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
51	Sofya Borchankina	14	IDSSA2	TTCAACTTGGGGAGAGCATAGTACCCCGGATGGATGGAGAATTGGTCTGAGAT
52	Konstantin Gugunin	16	IDSSA2	TGGAGTTTACCTATGTGCCTGGCACTCGCTGCTCACATGCGTGATAATCCCCAGTTGTTTGTGATTTGGAGCGGAGGGTTCGCAAG
53	Svetlana Gismeeva	13	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
54	Aleksey Karmushin	14	IDSSA4	GGCATCCGGATTATCCTATG
