ID	Name	Hour(hour)	Machine	Seq
0	Nataliya Chemaeva	12	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
1	Petr Yaklichev	11	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
2	Anna Protonina	13	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
3	Vitaliy Haveshov	10	IDSSA4	ATGCTCATGCTCCTTTTTCATTACTGAGCAAACGCAACGGGCGTT
4	Sofya Borchankina	11	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
5	Svetlana Gismeeva	12	IDSSA2	CAGATGGACCTGAGCGTAGCCAATGGAATGGGCGGATTTCCTGATCACAGCGACATCTAGAGAGATCCTACGTTTAGTCTCGTGTCATAGT
6	Taras Fadin	11	IDSSA1	ATTTATTGCAGCGTTCAAATAGGGGCGGCTCGTTAAAACTAGGGTTGAGTCGATTCGAACGGGCGTTGAATTTTTCTC
7	Vitaliy Haveshov	15	IDSSA1	TTTACTTATTTACTTCCGAGCGATCCTGAAATTGGAAGAGTGA
8	Svetlana Gismeeva	17	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
9	Anna Kesoretskih	13	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGG
10	Taras Fadin	17	IDSSA5	AGTAAAGTGTGCATCATGGGAGTTTAGTCTAAAACAGTGTGCGATTTCACCTTACACGCAGGAG
11	Kristina Gutkovskaya	17	IDSSA5	GCACCCTGGTGTGCAAGTTTGTGTTCCTCCGAGGATAACTTTGAGGGGGATTTTATCTCAGCTACCTGCACTGGTCCAAGGCTTTCCTAAA
12	Sofya Borchankina	11	IDSSA1	GACGAGTTTACACCACATCGCCTACTTCTC
13	Pavel Kulahmetov	18	IDSSA2	GGCGTAACCGAGCCACACAATCCG
14	Anna Kesoretskih	17	IDSSA1	GTTGAAAAGTCGGTACGAGGGTATTAAACGATGTCTTGTGACGACCATACCACCATCGCGATCGAATACAACAGGCTTTCAGT
15	Petr Mazeev	18	IDSSA2	GACACGGTGGTCTTATTGGCCTGACGCTCAACCCAATGATAATTTTGGGTTTCAGTTATGCGAACGTAATCTCCGGGATTGCCAAGCCAGATGCCAAT
16	Vitaliy Haveshov	18	IDSSA3	ACCACCCTGCGCAATCATGTGCTTTGTAGTAAGGCTACCTTAGGTAATCGATAGGCTTGACTGATTCTGAA
17	Pavel Kulahmetov	15	IDSSA4	TTAAACATTAGGTAGGTTACACCCCAATGCTAAGCAAAATTGAGGAG
18	Aleksey Karmushin	18	IDSSA2	CTGGACAGTAAACCGTTCATATTCATATGGCACGTCTTTCACGTGCAAGGTGAAACGTACCGCCAGAAAGACG
19	Ruslan Itshokin	10	IDSSA5	TTGTAGATTTAGACCTAGACAACTTCCTACGGGGTATGATACGTTGCTGCGCACGTGTG
20	Svetlana Gismeeva	16	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
21	Roman Hanzhenkov	13	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
22	Anna Kesoretskih	11	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
23	Pavel Kulahmetov	18	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCC
24	Nataliya Chemaeva	18	IDSSA3	CCGGGTCCACAACATGCTCTCAGAG
25	Kristina Gutkovskaya	17	IDSSA4	AACTAGTCACCAACTGAAAGTGAAGAGGTATTGGAATTACAGCTGATACCCAGCTA
26	Pavel Kulahmetov	12	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
27	Konstantin Gugunin	15	IDSSA1	TTTTTTTTTTTTTTTTTTTTT
28	Vitaliy Haveshov	13	IDSSA3	GTACACGGTAACTGAACCTAATTTAACGCGTCAGCCGGGGTATAAAGACTAGCGGTTGCATTAAGGAATTGAATAAGAGTCGACGACTG
29	Taras Fadin	17	IDSSA5	GCTCTCGTTTTCACTGACATTTGCTGAAGGGAGTGCTCTCTAGCTAGCGTCCTCATATATTAATAGTTGCGCACT
30	Anna Kesoretskih	13	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
31	Aleksey Karmushin	15	IDSSA4	TCGCAAGCCGTCCTGGACAACGACACTTAATTTCGGCATGGGGGATCTGCATGCTTTGGTCCCTTACCTGGCAGAAATTGTA
32	Roman Hanzhenkov	18	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
33	Kristina Gutkovskaya	10	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
34	Taras Fadin	14	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
35	Konstantin Gugunin	14	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
36	Anna Kesoretskih	17	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
37	Vitaliy Haveshov	14	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
