ID	Name	Hour(hour)	Machine	Seq
0	Petr Yaklichev	10	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
1	Pavel Kulahmetov	15	IDSSA4	ACGTACCTCCTGCCTAGGTTCTTGCGCTGGGCCAACTCTCAGAATAAGTTCGGGTTAGGCCGTTT
2	Taras Fadin	10	IDSSA4	TGGAGGATTCTTCAGTACCCGCATGGACTGGCTTTGGCACTGTATCATGGAGGCCGCCTAAAGTTTGAGGGAAACGATAGATTTTTC
3	Anna Protonina	11	IDSSA1	AATGTCAACTCAGATTATGTTTTAGCGGATGGTCAAGGCCTAGATAGGAGCGCTTAC
4	Kristina Gutkovskaya	15	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
5	Roman Hanzhenkov	17	IDSSA3	CTGGCGGACCGCCAAAGGCCAGGCT
6	Roman Hanzhenkov	15	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
7	Anna Protonina	10	IDSSA2	ATCAGGGGTCGGAGGATAAAATGCTGAGAGAATAGACAATGAAGTC
8	Petr Mazeev	13	IDSSA3	TAGGAAATCCAGTCATGCTGATACACACTATGAATCACCGTGGCGCTCCGCGTCTTAA
9	Roman Hanzhenkov	16	IDSSA4	TATATCGCGGTGGACGGACGTGTGCGCACCAAGCGAGAGGGAGTTCGTAC
10	Roman Hanzhenkov	18	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
11	Petr Mazeev	13	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
12	Vitaliy Haveshov	15	IDSSA1	GTCATAGTTTCATAGGCCACTTTGATCCCTAGATACGCTTTGTAG
13	Kristina Gutkovskaya	17	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
14	Aleksey Karmushin	10	IDSSA2	AAACCGAAGTTTCCGGTCTCGTTAATCGTTTATCTGTATCTCGCACTACGCCAATAGAGCACCCATTGGTATCCCTGACTCTATGGTCACC
15	Roman Hanzhenkov	15	IDSSA3	CAATCCCCTAATCCG
16	Ruslan Itshokin	12	IDSSA3	TTAGTTTTCCTCCACGCGCTACATGTAGCAATTCCATGCATACGTGCGTCCCCGGGGCCCAGGTTTCGCA
17	Kristina Gutkovskaya	11	IDSSA4	TACATCACTCCTGGGCGTGATTTATATGCGTGTATGCTATGGCATTGGGGCGAATGCAGGAACTCGCTGCATCTGATCGTAGC
18	Anna Kesoretskih	12	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
19	Vitaliy Haveshov	17	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
20	Petr Mazeev	11	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
21	Roman Hanzhenkov	12	IDSSA3	GTGGTGTGTTTGTCCCCGGAGCTCAGATTTTTTGTCGGCGATGGAGGCCACCCTTTATGACTAAGGGGACTTAAACAAGTGAGTT
22	Anna Kesoretskih	16	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
23	Petr Yaklichev	12	IDSSA4	GCCGATCGCCAGGTTTAATCAGACGAATCCATCTCTCACCCTTTAGCCACCGTCTGCAAGACC
24	Konstantin Gugunin	12	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTT
25	Pavel Kulahmetov	11	IDSSA2	AAAACCTTGGATTCGCGCTGCC
26	Aleksey Karmushin	17	IDSSA1	GCTATCTTCAGTGAGTCTGGCGAGGATAGACTAAACGTGTTATTCTG
27	Anna Kesoretskih	13	IDSSA3	AGTTCTGTGTCCCTCAGTTGCTCCTCTTAAATTGACCATGTACACTAGGCCTGCACAAGAGCGTTGCGCTGTTCCGTACAC
28	Taras Fadin	17	IDSSA3	CGCATACGATTGAACTAAAGTCGTGCCCAGCTCCTAACTTAGATTTTTAGGTTGCCCGCAATGGATGTATTCTTTGCCCCTTACTGTTGCCAGATCGTGA
29	Vitaliy Haveshov	14	IDSSA2	TTTTTTTTTTTTTTTTTTTTT
30	Ruslan Itshokin	15	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
31	Svetlana Gismeeva	13	IDSSA4	ACATCCCGTGTCTACGC
32	Nataliya Chemaeva	17	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
33	Petr Yaklichev	15	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
34	Petr Mazeev	10	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
35	Petr Yaklichev	10	IDSSA5	TGCTGAGGTTCCGAGTGTATATAATTTCCTTTGCAATGTCCTTTATCCAAGAGGGAATTC
36	Ruslan Itshokin	18	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
37	Svetlana Gismeeva	10	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
38	Sofya Borchankina	11	IDSSA2	TCGTTCGTCGGGCGACGTGGCGTCGCGCGTATCACCTTAGTCTTTCTGGTCAGGGGCGGTCAGAT
39	Roman Hanzhenkov	16	IDSSA4	CGCGGTCGCTTCTTAGCTGCGCAATCAAGTTTCGTTGCACGCTGAGTCGGTTTCCGATATACATGGTGAAGCAGATTGGTTGCTCTAGCAAGTGCGT
40	Roman Hanzhenkov	17	IDSSA5	AGAGGCCATGGTCGCGCCCAGAGTATAGAGAGTCA
41	Petr Mazeev	15	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
42	Petr Yaklichev	17	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
43	Nataliya Chemaeva	11	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
44	Taras Fadin	10	IDSSA5	ACCATTGCAAGGAACCATGTACCTATCTGTTCTATTGAT
45	Roman Hanzhenkov	17	IDSSA3	ATTACTTCGCTTGCCCCTAGTTGATTTACGGCCGGG
46	Roman Hanzhenkov	11	IDSSA5	CACACATGACCGCATGTATGGGCGTGCATTGATTTATCAGTGAGCGCGCCTATTTGCCAGCTTGGGCAAA
47	Ruslan Itshokin	11	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
48	Pavel Kulahmetov	11	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
49	Anna Protonina	10	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
50	Ruslan Itshokin	13	IDSSA4	TGTAGACTTACAATTT
51	Anna Kesoretskih	11	IDSSA1	TCGTGGCTTACTTACAGGTGACATATAAATCGTGATCTTAATACAA
52	Roman Hanzhenkov	14	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAA
53	Ruslan Itshokin	18	IDSSA5	CGAAGAGACCCCTGCCGTTGGTTGGAGCAGTAGGTCTCGGTAGAGTTGTCTACAATTCCCCCGCGT
54	Ruslan Itshokin	15	IDSSA5	TTTCGCGCGACATCTCTCCAG
55	Petr Yaklichev	13	IDSSA5	GGAGAGTCAGCGGTCTGGGATTGGAGCTAAAAGATGTTATGGGGCGCATG
56	Kristina Gutkovskaya	18	IDSSA2	TAGATGAAGACTACACATCTGGACTCG
57	Sofya Borchankina	16	IDSSA2	GGGGGGGGGGGG
58	Kristina Gutkovskaya	16	IDSSA3	ATTTGAACCGTAAGCAGGACATTAAAGGATCGTCCGACCGTTAACGTTAAACACTAATTATATTTCTCTCAACCGGA
59	Nataliya Chemaeva	18	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
60	Konstantin Gugunin	14	IDSSA5	TAACATCCCG
61	Roman Hanzhenkov	12	IDSSA5	ACGATTTCCGATTAATATGCGCGCACTGCAATTATCAAAATCGC
62	Vitaliy Haveshov	12	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
63	Taras Fadin	14	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
64	Petr Yaklichev	12	IDSSA5	CGTTATACCCGCGTGGCGTACCG
65	Sofya Borchankina	12	IDSSA2	AGACTTGGGGTCA
66	Taras Fadin	18	IDSSA1	TTGTGGCTAGTT
