ID	Name	Hour(hour)	Machine	Seq
0	Nataliya Chemaeva	15	IDSSA4	AGTCCGGATCGCACCAGACTAACCATGCTTCGTATATTTGAAGCCCAGTTTTCGGTTATAGAAGTCCCCGTGT
1	Anna Protonina	17	IDSSA1	CCACCTTTTTTTGCGTCCAGGTAGGAGTACCACCGTGTTGCCTGCATATGCGGAGATCA
2	Konstantin Gugunin	16	IDSSA3	AAATTTAGTGTTAGGCTCAGCTGCTGTTGTCCGAAAAATAATGGAGTGGTGGCAGGCCTACAGTGGAATCCGTT
3	Petr Mazeev	13	IDSSA4	TGAGTTTATGCGCTT
4	Anna Kesoretskih	13	IDSSA3	TTATGTCGAGCTGCGTCTTAGGACCGCCGCAACTCTCGCCCGACATGTGTTGAGCATCGAGTGTACGTTCGATTTCATTTAAGTCGCACAA
5	Svetlana Gismeeva	15	IDSSA4	AAAGCAACGTCCGCTAGAATATTGGAAAGTTGACGCGCCACT
6	Petr Yaklichev	15	IDSSA5	GTGTCTACTATCGTC
7	Svetlana Gismeeva	17	IDSSA5	TGCAGACGCAGAGGCAGCATATGTAACCGCTAAATTCAATCAGATACTTCT
8	Anna Kesoretskih	12	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
9	Konstantin Gugunin	14	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
10	Konstantin Gugunin	15	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
11	Roman Hanzhenkov	14	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
12	Sofya Borchankina	11	IDSSA4	ATATGACGTACTGTTGAGCGATTGGACAAAAGCACTAGCCGTTATCCGTGATCTCGACCCTGACTCCAATGATTA
13	Nataliya Chemaeva	11	IDSSA4	GACCTATGCTAGATTCATTCTGTCCTCCGCAGCCAGACGGGGCTCACACTACAGAGCT
14	Petr Mazeev	17	IDSSA5	CTCCACGTGT
15	Pavel Kulahmetov	16	IDSSA3	AAAAAAAAAAAAAAAAAAAAA
16	Taras Fadin	15	IDSSA5	AAAAAAAAAAAAAAA
17	Konstantin Gugunin	11	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
18	Kristina Gutkovskaya	14	IDSSA1	CGGGCACGTGT
19	Roman Hanzhenkov	10	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
20	Aleksey Karmushin	15	IDSSA2	TCCACATGGCTCCAGGCCAATAATAAGTATTGTATAGAAACGTGAG
21	Vitaliy Haveshov	12	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
22	Anna Kesoretskih	12	IDSSA1	GTGAAAGGGAAC
23	Anna Protonina	16	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
24	Ruslan Itshokin	15	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
25	Roman Hanzhenkov	14	IDSSA4	CGATTAACGCGATGATCTAGTATCAAGTGTG
26	Ruslan Itshokin	12	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
27	Aleksey Karmushin	16	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
28	Vitaliy Haveshov	12	IDSSA2	TGGCGCTAAATATACCCTCCGACGCGGAACTCACTCGC
29	Ruslan Itshokin	18	IDSSA2	TTTTTTTTTT
30	Anna Protonina	14	IDSSA1	TCCAATGGATTGGGCCTTTTTCAGCACATTAGAATTGCTTTGGATATAAGAA
31	Ruslan Itshokin	14	IDSSA5	CGCTGTTACTTCAGAATGAACGCTGACCTTC
32	Svetlana Gismeeva	12	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
33	Roman Hanzhenkov	13	IDSSA2	AAATGACCCGGATCCAGATACCCTACGGTTG
34	Kristina Gutkovskaya	10	IDSSA5	CTAGTGGGGAGACGCGGTGCTGTTTGCTGAATCCATCAGCAAATGAGAGC
35	Pavel Kulahmetov	10	IDSSA4	CCCGTAGTCTTGGCAAGACTAGGCCTGTCTAACAGCTAATATTAGGCGGAAGCGGAATCAGGA
36	Kristina Gutkovskaya	11	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTT
37	Vitaliy Haveshov	12	IDSSA5	GGATGCTATTTCGATACTAAATAGGGGCCTAAAAACCATCCCAAGGC
38	Kristina Gutkovskaya	18	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
39	Anna Kesoretskih	17	IDSSA3	TTTTTTTTTTTTTTTTTT
40	Aleksey Karmushin	10	IDSSA5	TACGGAGCTACGAATTAGACCGTAGTTTTTCCTAGAAATCAGTCCTAAGAAACGTACAACTGTACTGAAAAAGCTAGACAGCCGCAGCG
41	Anna Protonina	17	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
42	Ruslan Itshokin	13	IDSSA3	TCCATGACCAGCGATTATGGTCTCAGCCTGAGTCACTTCCCTTTAAGCTCGCGTCG
43	Anna Kesoretskih	16	IDSSA1	GGGATATCGGGGAGTATGAGGCAGGTATCAGAAGGACCGG
44	Svetlana Gismeeva	13	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
45	Nataliya Chemaeva	16	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
46	Ruslan Itshokin	12	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
47	Nataliya Chemaeva	13	IDSSA3	GCCCACGAAAACGTAAG
48	Nataliya Chemaeva	13	IDSSA5	CAAGCTACTATTGCTCAGTTTTGCATTTGATACGATATAGGTGATGCTACGGTGATGTCCGC
49	Petr Yaklichev	16	IDSSA5	GAGGATCCCAGTAATTATTATTCGGACAGCGACGTGGTTTCACACACAGATCTGTGCCAA
50	Anna Kesoretskih	18	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
51	Svetlana Gismeeva	17	IDSSA3	AAAAAAAAAAAAAAAAAA
52	Anna Kesoretskih	12	IDSSA2	TTTTTTTTTTTTTTTTTTT
53	Petr Yaklichev	17	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
54	Ruslan Itshokin	18	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
55	Roman Hanzhenkov	13	IDSSA4	TTTTTTTTTTTTTT
56	Ruslan Itshokin	18	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAA
57	Anna Kesoretskih	17	IDSSA3	CTCACCATCCATGATAATAGTCGACCGTGGGTCACAGACCTAGCAGGGCCTGGATACACGTATGGG
58	Ruslan Itshokin	16	IDSSA1	CCACTAAGATCCTTAAGCCGAGGACTCGAATAACACGTTGAGAATACCGTTTTCGGGGCGCTGTTGTGGGGGTGT
59	Petr Mazeev	11	IDSSA1	TGCTACTAGCCTAATGAAGGGGACTTCTAACATGGATCGCGCCT
60	Anna Kesoretskih	14	IDSSA5	AAAAAAAAAAAAAAAAAAAAAA
61	Nataliya Chemaeva	18	IDSSA4	GGGGGGGGGGGGGG
62	Kristina Gutkovskaya	10	IDSSA2	TTTTTTTTTTTTTT
63	Nataliya Chemaeva	13	IDSSA1	CCTGGCCAGGTGATAATGAC
64	Vitaliy Haveshov	14	IDSSA2	CAAGTCTTGCCT
65	Anna Kesoretskih	12	IDSSA5	ATCGGTTGTTCGAGAGTTCGGAGCTTCCATGTAGGTCCCGTCAAACAAACCC
66	Anna Kesoretskih	11	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
67	Aleksey Karmushin	14	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
68	Kristina Gutkovskaya	13	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
69	Ruslan Itshokin	15	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
70	Konstantin Gugunin	12	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCC
71	Roman Hanzhenkov	12	IDSSA5	GCGTGAAAGCAGCCCCGTCGGGCCGGC
72	Svetlana Gismeeva	18	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
73	Aleksey Karmushin	10	IDSSA5	CACATCGGTCAGACCTATGAGAATGTGGCCGATTCGAGTCGGTCCAGCTTGGAGACATTGTGCGCCGATGTCTGTCTA
74	Anna Protonina	17	IDSSA2	TGTCTCACATCTGACCTGCGATAAAACTTTTAACCCAACAAATGAGCACAGTGATATAATCAC
75	Vitaliy Haveshov	18	IDSSA4	CGACTGGCACCTACGATAGATGATGTGGGGTCACACACCCAA
76	Nataliya Chemaeva	17	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
77	Vitaliy Haveshov	10	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
78	Sofya Borchankina	11	IDSSA1	TTTTTTTTTT
79	Ruslan Itshokin	11	IDSSA4	TCCTCGTGTTCGACAGCGCCTCATCCTGGGTATTTCAACACTACCCACTTGATGTTTCTACCCCCTGGCACGTTCACGCGTGACGGTGTCTTC
80	Anna Kesoretskih	15	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
81	Petr Yaklichev	15	IDSSA1	GCGACGAGAGCCACCCCTATGAAGGCACCCTAGTAGGATTGATCACATCACACCCCGATTCAGATACTATTTTAACCAAGCC
82	Nataliya Chemaeva	18	IDSSA4	TGCGATTTCGGATTCACCAGCCGAGTTCTCACG
83	Anna Protonina	11	IDSSA1	TCTAGTACGGAGGGATTGTAGGTACGCCACCGATATCCGACTCCCTCGAGCAACCCGCGTGATGCATCAAAGTCAGAAC
84	Vitaliy Haveshov	14	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
85	Roman Hanzhenkov	14	IDSSA4	CCCCCCCCCCCCCCC
