ID	Name	Hour(hour)	Machine	Seq
0	Anna Kesoretskih	11	IDSSA5	CAGGCTAGACCCTAACCATACAGTGTTGTCTCAGCTTGTATTGTAGGCGTCGCAACAATCTAATGGCGTCCGGA
1	Sofya Borchankina	15	IDSSA2	ATGAGATTATTCATATGTCGGGCGACTTATACGAAGAAGTCGGATGGTGACTTTTGGGCGCTCGGTGTGGCTTGTGGTTCCTT
2	Svetlana Gismeeva	12	IDSSA4	ATGAACCAAGCATTAACATTATTAGTGAGGATAAACAGAATCCGAATTTTCTGGGTTTCA
3	Konstantin Gugunin	17	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
4	Petr Mazeev	15	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
5	Ruslan Itshokin	17	IDSSA3	GGAGCTTCCCTTAGAATCAATGCCATACATCTAAAATCACCATTTTGGAGGAAAAGAGGCATGATATAGTAAGATGAAGAGCAAGCAAAAT
6	Konstantin Gugunin	10	IDSSA5	TTCGTCCCTTCGGACTATCGCGCAACCCTAGGATTTGTGATTCGCAGCCGAC
7	Anna Kesoretskih	14	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
8	Sofya Borchankina	10	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAA
9	Anna Protonina	11	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGG
10	Ruslan Itshokin	18	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
11	Vitaliy Haveshov	15	IDSSA5	AACGTAACTAT
