ID	Name	Hour(hour)	Machine	Seq
0	Konstantin Gugunin	10	IDSSA5	ATTCTAGGAAGCCTTCTGAGCCGGGGC
1	Vitaliy Haveshov	11	IDSSA2	AACGGTGACTAGTTACGTACTGGCTAAATTGAGACCAACCAAATGCTCAAAGGATTTCTACGACTA
2	Sofya Borchankina	16	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
3	Petr Yaklichev	10	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGG
4	Kristina Gutkovskaya	10	IDSSA4	CCCCCCCCCCCCCCCCC
5	Roman Hanzhenkov	12	IDSSA3	TTATTTATTAGGGCTAGGAGTAGAGTTATCATATCTGACTAGCCGCATGCGTTTGTCGGGGGCTTGTTCTT
6	Aleksey Karmushin	15	IDSSA1	TTTGGAGGTATAGAGCAAACCCTGACCAGACGTCGAGGCCTCCCTGGTTCCGGCATAACAGAACTGCGCTGTTAATGCTCCGCGA
7	Svetlana Gismeeva	16	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
8	Kristina Gutkovskaya	15	IDSSA5	ACTGTAATGTCTGTCCGTCGGGGGCCCATGGGTAC
9	Aleksey Karmushin	15	IDSSA1	ATGATCGTGATACGGCAGCAGCCCAGGTCAGCATCAGGTACACTGCGCACTACACCGGGTTTCCAAGGGCGATCTTGGGGTTATTGTCACTGCTTG
10	Petr Mazeev	12	IDSSA1	GTACCAAGACTTGTAACTGGATAGGCCAGAGGTCAATCAACACATACTACAATCATACCACTCTGTTCTCAAAGCGGGCAATGTACAGCA
11	Taras Fadin	14	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
12	Nataliya Chemaeva	16	IDSSA2	GGTACCATTCAGTGATCTAGTTAATCTCCCGATGTTACGCTA
13	Nataliya Chemaeva	14	IDSSA2	TTTTTTTTTTTTTTTTT
14	Taras Fadin	15	IDSSA5	TTACCCCAGTCTGTAGAGTGGAGTGCTTTCTAGGCGGCAGGTGAGGGTTAGAACAAGCGCCGAACGAAGTGCCGCATGACTA
15	Aleksey Karmushin	10	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
16	Kristina Gutkovskaya	16	IDSSA3	GATAGTCGCGATGGCCTAGGGCAGAATATAGCTGATGAATTCTGAAATACCCTATCACACTCCCTAGACGTGAGGTGTTGATCGAACGT
17	Aleksey Karmushin	17	IDSSA4	TTACTGACGTTCACGTTTACCTATTCGGTCCGATCG
18	Taras Fadin	12	IDSSA2	CTCCGTCAAATCTAAATACAAAT
19	Konstantin Gugunin	11	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
20	Taras Fadin	14	IDSSA1	CATTGTTTCTAGCTTTTTATATAATGATCCCGTTCATTGGGATC
21	Petr Mazeev	10	IDSSA2	GAGCGGACCGTTTGACGTCTAGTGTCATCGAGCATGAACGGCCGGAACCTTAATAACCCGGTGGCTACACACACG
22	Ruslan Itshokin	11	IDSSA4	GGCCTACGTTATAGGTTCGAAGCCTTATCCCACCGATTTGCTCGGTCG
23	Konstantin Gugunin	15	IDSSA2	AAGCAGCATTCCAATCCCTTAGCGTTAGCGACTTGAG
24	Nataliya Chemaeva	16	IDSSA2	ATGGGTACTGGGCCTCCCCG
25	Anna Protonina	13	IDSSA5	AAAAAAAAAA
26	Roman Hanzhenkov	18	IDSSA2	CAGAGTTGACACCTGATTGTTGGCGTCTCGAGGTACTTGAGCCGCAGTTAGATCATTACAGAGCATTGACACTGCCGCGACAGGAAAGCGTGTAGTAA
27	Anna Protonina	15	IDSSA4	TTAGGACAGCACTCCTGTGACTACATCATATGT
28	Nataliya Chemaeva	14	IDSSA2	TCAACTCCCTCGGTTCATCCTACAATAATAGTAACGTCCGGGGCCGCGGATGAATTTGAGGGCTGGCCACGAAATGGGGTTTTTCGCAAA
29	Anna Protonina	13	IDSSA5	TAATGGTACCAATAATGCTAGTGACTGTAGGGCTATGGCGTACTCTAGCCGACCTCCCTG
30	Svetlana Gismeeva	15	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
31	Kristina Gutkovskaya	10	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
32	Konstantin Gugunin	14	IDSSA3	TTTTTTTTTTTTT
33	Aleksey Karmushin	18	IDSSA3	TAAGACCAAATAGATTGCAGAGCGCAAAGTCGGA
34	Ruslan Itshokin	11	IDSSA4	GCATGTCCAAGTCACGTAGGGCTAGGTAACGATGTGGTAACACCCGAGTGG
35	Anna Kesoretskih	12	IDSSA2	TCGGCCGTTCGCGTATGCTTGTTATAAGATTGCGCAGCATTGGACACTATGATAATCAACCCAG
36	Petr Yaklichev	17	IDSSA5	AAAAGCCGTTCTTTGCAATAATGGGAAATAAAGCCAGGAAGTT
37	Roman Hanzhenkov	13	IDSSA5	ATCTTCAACTAACGGGCTTAGAGGTCCTGCCCTACTAGCCTTTAAGCGGTCGGGAACCGCACACAAATAATT
38	Sofya Borchankina	12	IDSSA2	GCACCCTTGGGGTCCCAGGAGTATGACCGCCTTGCTACCGGCTCGCCCTTCTCAACTATCGTATTTAACATTGATACGACGAACTCCT
39	Konstantin Gugunin	16	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
40	Petr Mazeev	15	IDSSA1	CTTTATTCTGTATAGACGGGATGAAGTCCTGCTACCCGTAGATAGGGAGCCACTCGTGTACGTATACCTGTACCAACCTCATGAACGCCTATGCGT
41	Anna Kesoretskih	13	IDSSA1	GGGGGGGGGGGGGGGGG
42	Ruslan Itshokin	16	IDSSA5	ATCGTAGGATCTTACATTTACTGAAAGAGCAGCTTGACCATTTTTTTATCTGATATAAGGTAAATCCGCTTGCTACTTAAAGCAGCCGC
43	Vitaliy Haveshov	17	IDSSA4	GTTTTAGCGCCGTCCTGAGTAAAGCGGTGGTAATTTACGCG
44	Anna Protonina	10	IDSSA2	AAAAAAAAAAAAAAAAAA
45	Anna Protonina	10	IDSSA2	GCAAGTTATCTAGGGCACCAA
46	Kristina Gutkovskaya	11	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGG
47	Taras Fadin	13	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAA
48	Petr Mazeev	10	IDSSA1	GTATGTGGTGCCCGTAGCGACCGAACCAGGTACGCGAGTGTCGTGTATGAAGGGGTGCGCTTT
49	Vitaliy Haveshov	18	IDSSA4	GGACCAAGTCATTC
50	Konstantin Gugunin	16	IDSSA1	GGGGTCTAGCCATCAAAGCTCAAACGGAGGCAGTGTTGCAAACTCC
51	Kristina Gutkovskaya	18	IDSSA5	ATGCACACTTTTGA
52	Konstantin Gugunin	12	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
53	Konstantin Gugunin	15	IDSSA4	AACAGTTGCTCTTTCAGGGGGTAAACCTCTACCATGC
54	Pavel Kulahmetov	16	IDSSA4	AGAAACGAAGAACTTA
55	Sofya Borchankina	14	IDSSA5	CAGCTTTGTTTTACTCATGAGGTCGTAAATGGCAGTTCAGGACCTCGTGAGGCGGTAGGACAAGATCAGCTCTT
56	Konstantin Gugunin	17	IDSSA5	ACTTCTGCAGGGTGCGGGCTATATAATTAACAATCGAACTATCGTGTACGTGATCCGTAACACTGAA
57	Petr Yaklichev	15	IDSSA1	TCCTTCATGCGCATGATCAGAGACCGACGCGAA
58	Vitaliy Haveshov	15	IDSSA5	TGTGGAGGCGTAACGGGCATCCATATAATTTACAGGAGCGTGCGGGC
59	Konstantin Gugunin	13	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
