ID	Name	Hour(hour)	Machine	Seq
0	Anna Protonina	17	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
1	Anna Protonina	17	IDSSA3	TAATGATGCCGACCGCAATGCCCTGTATTATGAAAGCTCTACCAACTTGGTCGCTCCTGCCTCTAT
2	Svetlana Gismeeva	14	IDSSA3	AAGAACGGGGATATACAACGGTACTCC
3	Ruslan Itshokin	14	IDSSA5	TGACAACCCTT
4	Taras Fadin	14	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
5	Aleksey Karmushin	17	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGG
6	Konstantin Gugunin	13	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
7	Sofya Borchankina	16	IDSSA4	ATTCTAACGAGCGTATGTGTCGATGACTGTTTTTCCCATGACACAGGTCGTCGATGCGTCT
8	Svetlana Gismeeva	18	IDSSA3	GTATATTCCAAGAAACCACT
9	Kristina Gutkovskaya	16	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
10	Petr Yaklichev	12	IDSSA5	TTTTTTTTTTT
11	Petr Yaklichev	11	IDSSA3	ATCCGATCGGAACCCATAGTACGCTCGCCATCTACTAGTAGGTATCACTTTGT
12	Nataliya Chemaeva	18	IDSSA1	TTTTATGCAACCGTCCCTGTTCAGGTCGATTAGGGTAATTCCCACATCCGTCTCGAGTTCGAGGGACCT
