ID	Name	Hour(hour)	Machine	Seq
0	Taras Fadin	13	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1	Vitaliy Haveshov	17	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
2	Ruslan Itshokin	13	IDSSA5	TTTTTTTTTTTT
3	Ruslan Itshokin	11	IDSSA4	CGAGATTATGAGGACAGGACTGCGGATACGACATACCGATCCCTCCCTCCGTCTACATTGCACAGC
4	Sofya Borchankina	12	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
5	Kristina Gutkovskaya	16	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCC
6	Sofya Borchankina	16	IDSSA2	AACTCAGAAAGATCCTATCAGCGGAAGCCATCACTAACAACTGG
7	Aleksey Karmushin	12	IDSSA1	TTTATAAGCTTGTGTTGGGTACTGAATAAGACTGCAGTGACATACTCGTCT
8	Aleksey Karmushin	17	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGG
9	Anna Protonina	17	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
10	Vitaliy Haveshov	18	IDSSA3	TAACCCAGTCAGCAACACGAGCACCTAAACAATCCTCGTCAGTGAATTCCAAAAAAAGTTTCACGATTCCGA
11	Anna Protonina	12	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
12	Anna Protonina	16	IDSSA2	GGGGGGGGGGGGGGGGG
13	Petr Yaklichev	18	IDSSA4	CCCCCCCCCCCCCCC
14	Aleksey Karmushin	10	IDSSA4	ACGAAATCGGAGCTCACTAGGCAAACACTCAAGATAAAATGGACTTGCTGAAGAGCCTCTCCGCACTGAGATAAATTGCGCGAGTGAGAT
15	Sofya Borchankina	12	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
16	Petr Mazeev	13	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
17	Taras Fadin	18	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
18	Petr Yaklichev	17	IDSSA5	GCAAGCAGGTTATGCAGAGCTAGTTGTAGCAAATAATCATACGGCATTATCTTCGTCGGGTACGCCAGTATTG
19	Petr Yaklichev	10	IDSSA3	TGGGGATATGGGTGTAACCTGAAGTCTTTCCGAACTACGTATAACTTAGGATGTGCCCAC
20	Kristina Gutkovskaya	18	IDSSA2	CTTCATGCTGCGGATTAGTACAGAGTCACGCGGGCTGCTCCTCTGGAACCACTCGTAGAGCTTTAAATAGAAATAG
21	Anna Kesoretskih	10	IDSSA2	TATGATCAGTTGGA
22	Vitaliy Haveshov	13	IDSSA5	ACTAGTCTTAAAACGGAGATCGCAGGCGGATCACTAACCCGTTAGCACGCTACTATAGTGTCATTCCAGACGCTGCTTTCCAATTTGTAATATGCATTC
23	Kristina Gutkovskaya	17	IDSSA3	TGGTAGACTGTCACTAACTTCGAAGTAGGTTCCGCGTACGTGTTAGTAGGACGTCCGCTCCGAAAGCGCGAGGAGATTA
24	Svetlana Gismeeva	14	IDSSA1	CAGTAATGGAGTGCACTTAACTCTGGGGCACGAATGTCCGTTCGTAAGACTTTGGTTTGTCCAAAATTTCGGGG
25	Petr Mazeev	12	IDSSA2	TTTTTTTTTTT
26	Nataliya Chemaeva	11	IDSSA1	TCCCATCCCCCTCACTCCAAACGAAAAAAATGTTGTTGTCCTGAAACCAGCTAGCATACAATTTATT
27	Kristina Gutkovskaya	11	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
28	Petr Mazeev	10	IDSSA5	AGTCGCTCGGTGGCCACTAAAATCATGGGAACCGTTGGTATACAATTTATGATAGGCCGGTAGTTTAGGATATATTCCCGTAGTGTATCATGGTCTAT
29	Roman Hanzhenkov	17	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTT
30	Sofya Borchankina	17	IDSSA2	GGATTTAGGGGCCTTTTCAGTTA
31	Konstantin Gugunin	14	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
32	Aleksey Karmushin	16	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
33	Roman Hanzhenkov	13	IDSSA2	GCTAAGGTCACCCTAGACGTCTCGGTGGACTCGCTTAACTCTGGGCGGTTCTCTTTACAAATGAAGAGAGGGAACACCTGAAATT
34	Roman Hanzhenkov	17	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
35	Kristina Gutkovskaya	17	IDSSA4	TTGAATCACAATTAACAGATTCCTCGAGCCCATG
36	Vitaliy Haveshov	14	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
37	Taras Fadin	17	IDSSA1	GAGCCCCGCGTCAAGCGACCTTGATTGGCGCGGTAACACGGCTTG
38	Konstantin Gugunin	17	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
39	Roman Hanzhenkov	16	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
40	Nataliya Chemaeva	16	IDSSA3	AGGCAGGTCGTAACTACAGCATGGACCGTCGGATTTGGTCATTAATACAGAGCTACGCTAGCGCATCCGTGCAAGCGC
