ID	Name	Hour(hour)	Machine	Seq
0	Aleksey Karmushin	12	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1	Kristina Gutkovskaya	10	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTT
2	Konstantin Gugunin	14	IDSSA3	CTTGAGAGCCGAGGCGTCGCAGGTACTATCGCTGTTTTTATGACACCGACCGCATGCACCGCGA
3	Svetlana Gismeeva	12	IDSSA4	AAAAAAAAAAA
4	Anna Kesoretskih	17	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
5	Anna Kesoretskih	12	IDSSA4	GTAAGGGTTGCTGTGGTTGTACGGATC
