ID	Name	Hour(hour)	Machine	Seq
0	Sofya Borchankina	10	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1	Pavel Kulahmetov	10	IDSSA2	ATACGCAGAGGGTTCTTCCATGGGACTTAAACGGCGCCTAGACTTACGTCGCAACCACAGCTAC
2	Petr Mazeev	15	IDSSA1	GTTGTATACGGAGGACGAGCGTAGCGCCGGAAGCACATCAATGTGAACAAGAAACAT
3	Anna Protonina	16	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
4	Petr Yaklichev	17	IDSSA1	CGGCAAGCATTCAAATTCTCGGGGCGCTGTTCGCGGGAAAACGCGTTAAAGATCCGGGCCCTCGACCCCATCGATGTTCGCCAACCGGGTAGG
5	Pavel Kulahmetov	15	IDSSA3	AAAATGTGGCAGGCGTCCAACTTAGACCATGCAATGTGCACCTCAATCCTCGGACTGATGATCCAA
6	Kristina Gutkovskaya	10	IDSSA3	GATGATGACTCTCCAGTGTTCCTGGTAGTATTGGATAT
7	Pavel Kulahmetov	12	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
8	Taras Fadin	18	IDSSA1	ACCTCGCTCCTAAGGAGATCCTTCAATCTCAGCAACAGTCAACAAGGCCAAAACCCAATCGGTTATGCGTGCG
9	Taras Fadin	15	IDSSA1	TTTTTTTTTTTTT
10	Taras Fadin	14	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
11	Anna Kesoretskih	17	IDSSA5	AGTGGCAATAAGGT
12	Anna Kesoretskih	15	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
13	Konstantin Gugunin	18	IDSSA3	GCAGGTAACATATTTCGGGAAGAAGTTGCAAATT
14	Petr Yaklichev	12	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
15	Taras Fadin	18	IDSSA4	ACGTGAGATATAC
16	Petr Mazeev	12	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
17	Pavel Kulahmetov	17	IDSSA3	GGGGGGGGGGG
18	Ruslan Itshokin	11	IDSSA1	GGGGGGGGGGG
19	Anna Protonina	16	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
20	Petr Mazeev	14	IDSSA3	GCCTATCCCGTGA
21	Konstantin Gugunin	16	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
22	Kristina Gutkovskaya	11	IDSSA4	CAGAAACACTACCAGTCCCGTGTCTGCCTCAGAACAAACCTCACAGCACACAAGGGTCTCGGGGATCGACAGGCGATAACGAGATTACTTGCAT
23	Roman Hanzhenkov	15	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
24	Anna Kesoretskih	17	IDSSA5	TTAATAGGCGGCCCATGGAAACCGCGTTCATCTTTTGGAGTAGGCGTCAGGGTCCCTGCGGGGAAGCAATCCCTAGCGCTCTCACATC
25	Roman Hanzhenkov	10	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
26	Anna Protonina	17	IDSSA1	TCACTGCCAC
27	Svetlana Gismeeva	13	IDSSA1	TGAAGGCGGACTGAGA
28	Anna Kesoretskih	10	IDSSA2	AAAAAAAAAAAAAAAA
29	Petr Mazeev	17	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
30	Pavel Kulahmetov	12	IDSSA2	AAAAAAAAAAAAAAAAAAAA
31	Petr Mazeev	14	IDSSA4	CGCAAAACATTAAGGAGGGTGAGCAAATCAACCTACAAAACTTCATGAAGTTGTATTATCGTACGCATCACCCGTCTTCA
