ID	Name	Hour(hour)	Machine	Seq
0	Petr Mazeev	14	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGG
1	Taras Fadin	13	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
2	Konstantin Gugunin	15	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
3	Ruslan Itshokin	13	IDSSA2	GTTGAGACAGCAGGGG
4	Petr Mazeev	14	IDSSA2	TGACGGGGCTCGCCAAATGTGGGGGTCACTAACCCAGATTGAGAGCTGCCAGACCGGAGAGAAAACCCCAGAATATCGCCAG
5	Petr Yaklichev	13	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
6	Petr Yaklichev	18	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
7	Petr Yaklichev	15	IDSSA5	ATCTGTCGCCTGGCAAGGCGGTCTAACAGCCGGCT
8	Nataliya Chemaeva	12	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
9	Ruslan Itshokin	11	IDSSA1	TCCTGAACCGTGC
10	Nataliya Chemaeva	16	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
11	Nataliya Chemaeva	15	IDSSA5	TGATGCTTTGTTGCAGATTCGGATACCCAGCAGACAAAGTTCACTGTATA
12	Roman Hanzhenkov	17	IDSSA1	ATTCTCATCTCCGTCATCCCAAGTCTAATTCTAGGAGGATCTGATCGTAATGTACTTTCCTCTCCGTAGCGTTTCGGAGCGCCTGGT
13	Taras Fadin	13	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAA
14	Roman Hanzhenkov	15	IDSSA3	CTTGCGAGCGCTCTTTCGCGAGTCATGATGTTAAAGACATTTCGTACGAGGCATATCCCTTGACGTTGTTGCAAGGTCCACGTCAGCCAACTCGGCCGTG
15	Kristina Gutkovskaya	11	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
16	Anna Protonina	13	IDSSA1	AAGTCCTTATTACGTGACGTCGTGATCAAAAAACATATTCACCTAGGAGCACCCGTAGCTTGTTCTGTTGAATAACGCCCTTTGGTTAAGACTCGCGTAA
17	Svetlana Gismeeva	14	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
18	Svetlana Gismeeva	17	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAA
19	Sofya Borchankina	17	IDSSA3	GCACTCGCTGGGACAGTGACCGGCGAAATGTCAATCTCGCGCGTGTTAGCGTGGAGAACAACCTAGATATGCCTCCGACGAGCGGATA
20	Anna Kesoretskih	15	IDSSA5	CCGTCGACGCATAGTAGCCGAGTCAATGTTCTGCCGGTCGGGGCTT
21	Pavel Kulahmetov	17	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCC
22	Ruslan Itshokin	10	IDSSA4	AAACCAAACGAAGTGCCTTTTCATCACGTTTCCGCCTTTCCGTAGAGGCCTGCGGACGGTAGGCGAGTTTGTCCAACTAATTAGTTATC
23	Nataliya Chemaeva	13	IDSSA2	CTGTCAATTTTCTCCCCAGTGTAGGATGACTGGTCACGTTGCATACA
24	Roman Hanzhenkov	18	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
25	Petr Yaklichev	17	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
26	Taras Fadin	18	IDSSA3	AGGCTGGTACCGACCCAGCTCTGGCTAGACTCGACGATTGTAATAAATTTAT
27	Sofya Borchankina	15	IDSSA3	CCACATGTATGGGACTATCACAGGATATTGATGGAACCGTTATGTAAAACACAATCGACCTAATTGA
28	Nataliya Chemaeva	10	IDSSA1	CACGGCGGATATGGACCATCGGTCATTGTGCCATATAGTTGTTTCGCT
29	Nataliya Chemaeva	14	IDSSA4	TACCATTAACTGGGCCAACATCAAGCTCGGACAGATCACAT
30	Petr Yaklichev	16	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTT
31	Nataliya Chemaeva	10	IDSSA1	GGCTCGACGTGAGGATTAGAAC
32	Ruslan Itshokin	16	IDSSA3	ACTGCGCATTTCAACCCCTTTAGAACGTGTTTAACTAGGTGAGGATTGG
33	Petr Mazeev	14	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
34	Nataliya Chemaeva	10	IDSSA2	GATTGTGAGTCACAATAAACCGGAAGGCGCGACTGGACTAGGCCGTAGTGTTGCAGGGCGCCTACTAAACCCTATCAGATGAA
35	Ruslan Itshokin	12	IDSSA1	CACTTACCAAATGGCGCTGATTTGCATTGCTTGGCGACACGGTTAACATGGCCTGCCCTATTCCTCGAATTGCGTCTTACGCA
36	Ruslan Itshokin	14	IDSSA1	CGTTGCCTGCAAGCAACAGCATAGGCATACCCTCATGCCGCTCTTTAGAACATCCC
37	Ruslan Itshokin	13	IDSSA2	GGGGGGGGGG
38	Anna Protonina	14	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
39	Vitaliy Haveshov	12	IDSSA5	TATTATCATCGTCCAACAGCTCCATTCTGCAGGGGTGAGGGGACGCTCTTAGGGAACGTGTATAGATTGCCCGTTGTTGTA
40	Kristina Gutkovskaya	15	IDSSA4	CGGTTTGTCAACCATAGAGGACCCCTCAATCAATCGCCCATATTGGTCACCCATCATGAGT
41	Kristina Gutkovskaya	10	IDSSA4	TATTGGAGTAGGTGCCATGTCCACTCCACAGGCTGAATGCCTCATTCTCGTCAATCTAGTTGTACGGGCTATACGATTATACCAGTCAAGCTT
42	Petr Yaklichev	17	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
43	Aleksey Karmushin	18	IDSSA1	CAATGTGGAACGGGGTCTTCGAATGTCTGCACACTATGAGAC
44	Vitaliy Haveshov	14	IDSSA4	GTGGACCAACACTCGCATACTTAGGTCGTCGCT
45	Anna Kesoretskih	12	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
46	Petr Yaklichev	11	IDSSA1	TGGTTCAGCCTCGAAATGCCGTGCTCATAACTGGAGGGAAGGAGACTTGAAGCATTTTCCC
47	Taras Fadin	15	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAA
48	Anna Protonina	10	IDSSA5	AGTGTAATCCCGATTTCCCCACCCTAGTTAGGTATGG
49	Aleksey Karmushin	17	IDSSA5	TTCGGAGACAGTGTGGTTGAAACTCATGTCGCGGCTTGTTTAATGGCGCT
50	Svetlana Gismeeva	12	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
51	Pavel Kulahmetov	10	IDSSA1	ACAGTGGCATA
52	Pavel Kulahmetov	12	IDSSA1	TTTTTTTTTTT
53	Vitaliy Haveshov	12	IDSSA3	TCCGCGCGCAATT
54	Petr Yaklichev	16	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
55	Nataliya Chemaeva	13	IDSSA4	GTGCTACATCTGACAGCTATTACAGCGACCTAGCTATCATTAGTGTG
56	Aleksey Karmushin	13	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
57	Kristina Gutkovskaya	16	IDSSA1	GTGTCCAATGTC
58	Taras Fadin	18	IDSSA4	AGCAGCCCGAAATGGAGAAAACCCTAGTGGTGTTTACTCTATTGCGCACGTTGGCCTTATGTAGCTATGGAATTTGTCGCTCTAAGCCC
59	Konstantin Gugunin	16	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
60	Aleksey Karmushin	14	IDSSA3	AATTAGTCATTCCTGGGGAC
61	Ruslan Itshokin	14	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
62	Petr Mazeev	12	IDSSA3	TTTTTTTTTTTTTTTTTT
63	Roman Hanzhenkov	15	IDSSA2	CGTTGCAGAGCAAGGTGGAGAGTCGTGCCTGCCAGGGGACACAGACCGGGTGTGGTCTAGTTGCCCAGTAGGATAGTCAGTGATAATTCACC
64	Sofya Borchankina	10	IDSSA2	CTGACCGAAGAGTTACACGGACCCGTTTCACAATGCGCGTAATCAGTGGCTTGAACTTATCGGCGTGTTGAATCAT
